[submodule "MyGenerals/src/vendor/glfw"]
	path = MyGenerals/src/vendor/glfw
	url = git@github.com:glfw/glfw.git
	branch = 3.4

[submodule "MyGenerals/src/vendor/imgui"]
	path = MyGenerals/src/vendor/imgui
	url = git@github.com:ocornut/imgui.git
